<h1>Stupid Coaching</h1>
<div class="pl-2 margin">
<p><%= @questions %></p>
-Me
</div>

<div class="bg-color pl-2 margin">
<p><%= @answer %></p>
-Coach
</div>

<%= link_to "Ask a new question", "/ask"%>
