<div class= "p-4">
  <h1>Stupid Coaching</h1>
  <div class= "">
    <p>Ask your coach anything:</p>
    <form action="/answer" data-turbo="false" class= "input-group rounded">
    <input type="text" name="question" class= "rounded form-control">
    <input type="submit" value="Ask!" class="btn btn-primary" >
  </form>
  </div>
</div>
